<div class="form-container">
    <a routerLink="/login" id="goback">Go back</a>
    <h2>Custom Login</h2>

    <span class="error" *ngIf="error" >{{ error }}</span>

    <form autocomplete="off" novalidate [formGroup]="form" (submit)="login()">

      <input type="email" placeholder="Email address.." (ngModel)="email" name="email" class="txt" formControlName="email">
      <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" formControlName="password">

      <button type="submit"  class="basic-btn">Sign in</button>
      <a routerLink="/signup" class="alc">Don't have an account?</a>
  </form>
</div>